body
{
	background-color:#404040;
	color:#FFFFFF;
}
canvas
{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
table.center
{
	margin: 0 auto;
}
table.wide
{
	width: 100%;
}
table.timetable
{
	margin-top: 2px;
}
table.schCont
{
	width: 512px;
}
table.schTable
{
	font-size: 12px;
	border-collapse: separate;
	border: solid #808080 1px;
	border-radius: 4px;
}
tr.modeSpace
{
	height: 10px;
}
tr.schHeader
{
	height: 32px;
}
tr.schRow
{
	cursor: pointer;
	height: 32px;
}
tr.schRow:hover
{
	background-color: #337AB7;
}
tr.schRowActive
{
	background-color: #337AB7;
}
td.reading
{
	width:80px;
	text-align:center;
}
td.timeCell
{
	width: 253px;
	vertical-align: top;
}
td.schCellhr
{
	color: #000000;
	font-weight: bold;
	padding: 2px;
	/*border-bottom: 1px solid #202020;*/
	background-color: #808080;
	text-align: left;
	min-width: 52px;
}
td.schCell
{
	padding: 2px;
	border-top: 1px solid #202020;
	text-align: left;
	min-width: 52px;
}
td.targetDiv
{
	color: #808080;
	text-align: center;
}
span.reading
{
	font-size: 24px;
	font-weight: bold;
}
span.readingLg
{
	font-size: 56px;
	font-weight: bold;
	font-style: italic;
	line-height: 44px;
	vertical-align: text-top;
}
span.units
{
	font-weight: normal;
	font-style: italic;
}
span.checkLabel
{
	color: #FFFFFF;
	vertical-align: top;
	font-weight: normal;
}
.btn
{
	color: #000000;
	font-weight: bold;
}
.btn-md
{
	background-color: #C0C0C0;
}
.btn-md-on
{
	color: #FFFFFF;
}
.btn-sp
{
	background-color: #FFC107;
	width: 32px;
}
.btn-sch-on
{
	color: #FFFFFF;
	width: 69px;
}
.btn-sch-off
{
	width: 69px;
}
.btn-time-dd
{
	width: 253px;
}
.btn-time
{
	width: 81px;
}
.dropdown-mode
{
	min-width: 0px;
	width: 145px;
}
.dropdown-time
{
	min-width: 0px;
	width: 81px;
}
.dropdown-value
{
	min-width: 0px;
	width: 145px;
}
.form-control-sm
{
	color: #000000;
	height: 30px;
	width: 145px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}

/* Customize the label (the container) */
.checkContainer {
 display: inline;
 position: relative;
 padding-left: 35px;
 padding-top: 2px;
 margin-bottom: 12px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 20px;
 width: 20px;
 vertical-align: top;
 border: 2px solid #EEEEEE;
 border-radius: 16%;
 background-color: #EEEEEE;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
 background-color: #CCCCCC;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
 background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
 display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
 left: 5px;
 width: 7px;
 height: 14px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
